:root { /* Global variables for the following code*/
    --main-bg-color: lightgray;
    --navyblu: rgb(0, 32, 79);
    --maincolor: hsl(268, 100%, 21%);
}

* {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--main-bg-color, rgb(240, 140, 140));
}

h4 {
    text-align: center;
}

#main {
    text-align: center;
    text-shadow: 2px 2pt #6d6d6d;
}

#topic {
    color: var(--navyblu);
}

label, #date {
    color: var(--maincolor);
    margin-right: 0.3em;
}

#CrewList {
    color: color(sRGB 0 0 1 / 0.5);
    text-align: center;
    margin: auto;
    list-style-position: inside;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
}

.text {
    color: color-mix(in srgb, green 75%, black 45%);
}

#ALI {
    position: fixed;
    right: 2cm;
    top: 15em;
    height: auto;
}

#head {
    position: sticky;
    top: 0;
    background-color: lightgray;
    z-index: 10;
    border: 2vmin double black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

textarea {
    max-width: 20rem;
    min-width: 10rem;
    min-height: 10rem;
    max-height: 15rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    display: none;
}

video {
    width: 30vmax;
}

details[open] {
    background-color: rgb(67, 67, 67);
}

#ah {
    position: fixed;
    right: 3cm;
    top: 5.7cm;
    height: auto;
}

h3 + img {
    padding-top: 0.5cm;
    padding-left: 3cm;
    padding-right: 5cm;
    padding-bottom: 2cm;
}

section:has(li) {
    background-color: grey;
}

form input, form textarea, form li {
    display: inline-block;
    margin: 2px;
    color: forestgreen;
}

button:hover {
    background-color: bisque;
}
