:root {
    --main-bg-color: lightblue; /* Defining a global CSS variable */
}
body { 
    background-color: lightgray; /*the body color change to light gray*/
}
#main {
    text-align: center; /* title headers should be in the center */
    text-shadow: 2px 2px #6d6d6d; /* just making the text bolded and more appealing */
}


