:root {
    --main-bg-color: lightgray; /* Defining a global CSS variable */
    --navyblu: rgb(0, 32, 79);
    --maincolor: hsl(268, 100%, 21%)
}
* {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body { 
    background-color: var(--main-bg-color, rgb(240, 140, 140)); /* Background color */
}
h4 { /*universally changes all h4 headers to be in the center*/
    text-align: center;
}
#main {
    text-align: center; /* title headers should be in the center */
    text-shadow: 2px 2pt #6d6d6d; /* just making the text bolded and more appealing */
}
#topic {
    color: var(--navyblu);
}
label,#date {
    color: var(--maincolor);
    margin-right: .3em;
}

#CrewList{
    color: color(sRGB 0 0 1 / 0.5);
    text-align: center;
    margin: auto;
    list-style-position: inside;
}
.text {
    color: color-mix(in srgb, green 75%, black 45%) ;
    display: grid;                    /* Enable grid layout */
    grid-template-columns: auto 1fr;  /* First column auto-sized, second takes the rest */
    grid-gap: 10px;                    /* Add space between grid items */
    align-items: center;              /* Center items vertically */
}
#ALI {
    position: fixed;
    right: 2cm;
    top: 15em;
    height: auto; /* Adjust height based on content */
}
#head{
    position: sticky; /* Makes the element sticky */
    top: 0; 
    background-color: lightgray; 
    z-index: 10;      
    border: 2vmin double black;            /* Border around the body */
    box-sizing: border-box;                /* Include padding and border in the element's size */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
textarea{
    max-width: 20rem;
    min-width: 10rem;
    min-height: 10rem;
    max-height: 15rem;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 1em;
    display: none;
}
video {
    width: 30vmax;
}
details[open] {
    background-color: rgb(67, 67, 67);
}
#ah {
    position: fixed;
    right: 3cm;
    top: 5.7cm;
    height: auto; /* Adjust height based on content */
}
h3+img{
    padding-top: .5cm;
    padding-left: 3cm;
    padding-right: 5cm;
    padding-bottom: 2cm;
}
section:has(li) {
    background-color: grey; /* Apply background if section has a video */
}
form input , form textarea, form li{
    display: inline-block; /* Align labels and inputs on the same line */
    margin: 2px;    /* Add spacing between elements */
    color: forestgreen;
}

button:hover {
    background-color: bisque;
}